body {
  background: url("https://raw.githubusercontent.com/sukhleenbolina/movie-trailer/master/assets/lorax_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(autofit, 4, 1fr);
}

h3 {
  font-family: 'Boogaloo', san-serif;
  color: #ff8a2b;
  text-align: center;
  font-size: 6vw;
  margin: 0%;
  grid-column: 4 / 5;
}

video {
  padding: 0;
}

.plyr__video-wrapper{
  width: 50%;
  text-align: center;
	margin: 0 auto;
	display: block;
}

.plyr--video .plyr__controls {
  background: opacity 0
}

.plyr__controls{
  width: 50%;
  text-align: center;
	margin: 0 auto;
}

.plyr--full-ui input[type="range"] {
  color: orange;
}



.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  
}

.title {
   grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: flex-end;
 
}


.characters{
  padding: 0rem 1rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;

 
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-column-gap: 15px;
 
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
  grid-row-gap: 5px;
} 


#ted {
  background: url('https://raw.githubusercontent.com/sukhleenbolina/movie-trailer/master/assets/ted.png');
  background-size: cover;
  grid-column: 3 / 5;
  grid-row: 2 / 5;
  z-index: 1;
  background-color: #2B82C9;
  border: 5px solid white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: .5;
  border-radius: 10%;
}

#ted:hover {
  opacity: 1
}

#ted p { 
  background-color: #e53b3b;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  margin: 0%;
  opacity: .0;
}

#ted p:hover {
  opacity: 1;
}

#lorax {
  background: url('https://raw.githubusercontent.com/sukhleenbolina/movie-trailer/master/assets/lorax.png');
  background-size: cover;
  z-index: 1;
  opacity: .5;
  grid-column:5 / 8;
  grid-row: 4 / 6;
  background-color: #87AC45;
  border: 5px solid white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: .5;
  border-radius: 10%;
}

#lorax:hover {
  opacity: 1
}

#lorax p { 
  background-color: #ff8a2b;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  margin: 0%;
  opacity: .0;
}

#lorax:hover {
  opacity: 1
}

#lorax p:hover {
  opacity: 1;
}

#audrey {
  background: url('https://raw.githubusercontent.com/sukhleenbolina/movie-trailer/master/assets/audrey.png');
  background-size: cover;
  z-index: 1;
  grid-column: 1 / 3;
  grid-row: 5 / 7;
  background-color: #ED66A1;
  border: 5px solid white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: .5;
  border-radius: 10%;
}

#audrey:hover {
  opacity: 1
}

#audrey p { 
  background-color: #FAD676;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  margin: 0%;
  opacity: .0;
}

#audrey p:hover {
  opacity: 1;
}

#gma {
  background: url('https://raw.githubusercontent.com/sukhleenbolina/movie-trailer/master/assets/grammy_norma.png');
  background-size: cover;
  z-index: 1;
   grid-column: 5 / 7;
  grid-row: 2 / 4;
  background-color: #FAD676;
  border: 5px solid white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: .5;
  border-radius: 10%;
}

#gma:hover {
  opacity: 1
}

#gma p { 
  background-color: #ED66A1;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  margin: 0%;
  opacity: .0;
}

#gma p:hover {
  opacity: 1;
}

#onceler {
  background: url('https://raw.githubusercontent.com/sukhleenbolina/movie-trailer/master/assets/once-ler.png');
  background-size: cover;
  z-index: 1;
  grid-column: 3 / 5;
  grid-row: 5 / 8;
 background-color: #ff8a2b;
  border: 5px solid white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: .5;
  border-radius: 10%;
}

#onceler:hover {
  opacity: 1
}

#onceler p { 
  background-color: #87AC45;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  margin: 0%;
  opacity: .0;
}

#onceler p:hover {
  opacity: 1;
}

#ohare {
  background: url('https://vignette.wikia.nocookie.net/seuss/images/0/05/O%27Hare.png/revision/latest?cb=20190214162149');
  background-size: cover;
  z-index: 1;
   grid-column: 1 / 3;
  grid-row: 3 / 5;
  background-color: #e53b3b;
  border: 5px solid white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: .5;
  border-radius: 10%;
}

#ohare:hover {
  opacity: 1
}

#ohare p { 
  background-color: #2B82C9;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  margin: 0%;
  opacity: .0;
}

#ohare p:hover {
  opacity: 1;
}



.info {
  padding: 2.5rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}


h6 {
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  font-size: 140%;
  margin: 0 auto;
}



#summary {
  font-size: 12px;
  font-family: 'Open Sans', san-serif;
  height: 200px;
  width: 180px;
}

span {
  color: #ffffff;
  font-family: 'Boogaloo', san-serif;
  font-size: 16px;
}


footer {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer p span {
  grid-column: 1 / 2;
   grid-row: 2 / 5 ;
 font-weight: bold; 
}