/* https://cdn.plyr.io/3.3.12/plyr.css */
body {
  font-family: 'Boogaloo', san-serif;
  font-size: 40px;
  background-image: url("https://raw.githubusercontent.com/sukhleenbolina/movie-trailer/master/assets/lorax_background.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

h1 {
  width: 100vw;
  height: 10vh;
  color: #ff8a2b;
  text-align: center;
  position: absolute;
  top: -40px;
}


.center {
	margin: 20px auto;
  position: absolute;
  width: 40%;
  left: 30%;
  top: 150px;
}




.plyr__video-embed iframe {
	top: -50%;
	height: 200%;
}

.plyr__control{
  color: #6ba3ff;
}

.plyr--full-ui input[type="range"] {
  color: orange;
}


h3 {
  font-family: 'Boogaloo', san-serif;
}

p {
  font-family: 'Open Sans', san-serif;
  font-size: 16px;
  width: 42%;
}

@media screen and (max-width: 900px) {
  .h3 {
  font-size: 16px;   
  }   
  
  @media screen and (max-width: 900px) {
  p {
  font-size: 10px;   
  } 